<div>
    <div class="cart-products container">
        <h1>Cart Id: {{data.cartId}}</h1>
             {{#each data.products}}
            <div class="user-info">
            <h2>{{this.id.name}}</h2>
            <p>description: {{this.id.description}}</p>
            <p>price: {{this.id.price}}</p>
            <p>thumbnail: {{this.id.thumbnail}}</p>
            <p>code: {{this.id.code}}</p>
            <p>stock: {{this.id.stock}}</p>
            <p>status: {{this.id.status}}</p>
            <p>category: {{this.id.category}}</p>
            <p>id: {{this.id._id}}</p>
            </div>
        {{/each}}
        
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>