<div>
  <h1>Lista de productos</h1>
  <h2>Bienvenido {{user.first_name}}</h2>
  <div>
    {{#if user}}
      <a href="/api/auth/logout" class="btn-primary">Logout</a>
    {{/if}}
    {{#if isAdmin}}
      <h1>Hi admin! Welcome</h1>
      <a href="/users/manageUsers">Manage users</a>
    {{/if}}
  </div>
  <div class="container">
    {{#each products.payload}}
      <div class="user-info">
        <h2>{{name}}</h2>
        <p>description: {{description}}</p>
        <p>price: {{price}}</p>
        <p>thumbnail: {{thumbnail}}</p>
        <p>code: {{code}}</p>
        <p>stock: {{stock}}</p>
        <p>status: {{status}}</p>
        <p>category: {{category}}</p>
        <p>id: {{_id}}</p>
        <button id="add-to-cart" class="addButton">Add to cart</button>
        <a href="/api/products/{{_id}}">View Product</a>
      </div>
    {{/each}}
    <div class="buttons-links">
      {{#if products.prevLink}}
        <a href="{{products.prevLink}}">Prev page</a>
      {{/if}}
      {{#if products.nextLink}}
        <a href="{{products.nextLink}}">Next page</a>
      {{/if}}
    </div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/products.js"></script>