<div class="container">
    <h1>Users: </h1>
    <a href="/api/products">Ir al inicio</a>
    {{#each users}}
        <div class="user-info">
            <p id="prod-id">{{_id}}</p>
            <p>{{first_name}}</p>
            <p>{{email}}</p>
            <p>Login date: {{last_connection.login_date}}</p>
            <p>Logout date: {{last_connection.logout_date}}</p>
            <p>Register date: {{last_connection.register_date}}</p>
            <button class="delete-user" data-user-id="{{_id}}">Delete this user!</button>
        </div>
    {{/each}}
</div>

<script src="/js/deleteUser.js"></script>
