<div id="producstOffline" class="container">
  <h2>Bienvenido {{user.first_name}}</h2>
  <a href="/api/auth/logout" class="btn-primary">Logout</a>
  {{#each products.payload}}
    <div class="user-info">
      <span id="userInfo">
        <h2>name: {{this.name}}</h2>
        <p>description: {{this.description}}</p>
        <p>price: {{this.price}}</p>
        <p>thumbnail: {{this.thumbnail}}</p>
        <p>code: {{this.code}}</p>
        <p>stock: {{this.stock}}</p>
        <p>status: {{this.status}}</p>
        <p>category: {{this.category}}</p>
        <p>id: {{this.id}}</p>
        <button id="add-to-cart" class="addButton">Add to cart</button>

      </span>
    </div>
  {{/each}}
  <div class="buttons-links">
    {{#if products.prevLink}}
      <a href="">Prev page</a>
    {{/if}}
    {{#if products.nextLink}}
      <a href="">Next page</a>
    {{/if}}
  </div>
</div>

<div id="productsOnline">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>