<div class="container">
    <div class="user-info">
        <h2>{{prodFound.name}}</h2>
        <p>description: {{prodFound.description}}</p>
        <p>price: {{prodFound.price}}</p>
        <p>thumbnail: {{prodFound.thumbnail}}</p>
        <p>code: {{prodFound.code}}</p>
        <p>stock: {{prodFound.stock}}</p>
        <p>status: {{prodFound.status}}</p>
        <p>category: {{prodFound.category}}</p>
        <p>id: {{prodFound._id}}</p>
        <button id="add-to-cart" class="addButton">Add to cart</button>
        <a href="/api/products">Back to home</a>
    </div>
</div>

<script src="/js/addProd.js"></script>